@import url(./../../CSS/Tudo.css);


.menun {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7rem;
  padding-left: 1rem;
}

header {
  justify-content: space-between;
  background: var(--Verde-cabecalho);
  height: 3.75rem;
  font-family: 'Passion One', cursive;
  width: 100vw;
}

.imagens_logo {
  display: flex;
  flex-direction: row;
  gap: 1.375rem;
  align-items: center;
}

.logo {
  background: url(../../img/Caminus.png);
  width: 8.75rem;
  height: 2.875rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#navegacao nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 7rem;
  font-size: 1.125rem;
}

#navegacao li a {
  color: var(--Verde-letra-cabecalho);
  text-decoration: none;
}

/* 
  .menu_mobile {
    display: none;
  } */


/* @media(max-width: 900px) {
    .menu_desktop {
        display: none;
    }
} */