@import url(./../../CSS/Tudo.css);

footer {
    font-family: 'Passion One', cursive;
    font-weight: 100;
    font-size: 36px;
    display: flex;
    height: 12rem;
    background: var(--Verde-rodape);
    justify-content: end;
    align-items: center;
    padding: 1.0625rem 0.78125rem;
  }
  
  .texto_img {
    width: 33.5625rem;
    height: 10.4375rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2.0625rem;
    justify-content: end;
    color: var(--Texto-Rodape);
  }